/* 在这里添加你的CSS样式 */
body {
  font-family: Arial, sans-serif;
  margin: 15px;
}

label,
select,
input,
button {
  margin-bottom: 10px;
  display: block;
}

.save {
  font-size: 30px;
  color: #0a6b32;
  font-family:Georgia, 'Times New Roman', Times, serif;
}